<!DOCTYPE html>
<html>
<head>
    <script>
        $("#buttongrep").click(function() {
         $('html,body').animate({
             scrollTop: $(".values").offset().top},
             'slow');
       });
     </script>
</head>
<body>
  <h1>Advanced Grep & Other Tools (beta)</h1>
  <p>Functionality is similar to this: <strong><a href="https://cswright88.github.io/Github/Grep_Tool/index.html">GREP</a></strong> tool</p>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
            <h3>Get</h3>
            <label ng-repeat="value in valueArr">
              <p><input type="radio" ng-model="getTag" ng-value="value" name="secondTag" ng-click='getFunc(value)' /> {{value}}</p> 
            </label>
            <p>{{getTag}}</p>
      </div>

      <div class="col-sm-4">
          <h3>Where</h3>
          <label ng-repeat="value in valueArr">
            <p><input type="radio" ng-model="valuePicked" ng-value="value" name="firstTag" ng-click='newValue(value)' /> {{value}}</p> 
          </label>
          <p>{{valuePicked}}</p>
      </div>

      <div class="col-sm-4">
          <h3>Equals This: </h3>
          <!-- <input type="text" placeholder="inner value" ng-model="innerValPicked"/> -->
          
          <div id="scrollArea">
        
              <input type="text" ng-model="searchInnerValue" placeholder="Search">
              <ul>
                <li ng-repeat="val in innerValArr | filter:searchInnerValue track by $index ">
                      <button class="animateToSubmit" ng-model="innerValPicked" ng-value="val" ng-click="newInner(val)">{{val}}</button>
                </li>
            </ul>
            <p>{{valuePicked}} Value Picked = {{innerValPicked}}</p>
          </div>
      </div>
    </div>
  </div>



<div class="container buttonGrep"> 
  <div class="row">
    <div class="col-xs-12"><button id="buttongrep" ng-click="grepFind()">Submit</button></div>
  </div>
</div>



<h1 class="text-capitalize values">{{getTag}} Where {{valuePicked}} = {{innerValPicked}}: </h1>
  <div class="container">
      <button ng-click="backToStart()">Back To Start</button><button ng-click="moveBack()">back</button> Displaying {{begin}} - {{begin + limit}} <button ng-click="moveForward()">forward</button>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <th>{{getTag}}</th>
          <th>Count</th>
        </tr>
        <tr ng-repeat="x in grepMostCommon | orderBy: '-count' | limitTo:limit:begin">
          <td>{{x.name}}</td>
          <td>{{x.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>