<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Advanced Grep & Other Tools</h1>
  <p>COMMING SOON - I got other stuff to do right now so it might be a little bit</p>
  <p>Functionality will eventually look do something like this <strong><a href="https://cswright88.github.io/Github/Grep_Tool/index.html">GREP</a></strong> tool</p>










  <!-- <div class="container">
    <button ng-click="backToStart()">Back To Start</button>
    <button ng-click="moveBack()">back</button> Displaying {{begin}} - {{begin + limit}} <button ng-click="moveForward()">forward</button>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <th>Title</th>
          <th>Count</th>
        </tr>
        <tr ng-repeat="x in citynew | orderBy: '-count' | limitTo:limit:begin">
          <td>{{x.name}}</td>
          <td>{{x.count}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</body>
</html>