<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Advanced Grep & Other Tools (beta)</h1>
  <p>COMMING SOON - I got other stuff to do right now so it might be a little bit</p>
  <p>Functionality will eventually look do something like this <strong><a href="https://cswright88.github.io/Github/Grep_Tool/index.html">GREP</a></strong> tool</p>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
            <h3>Get</h3>
            <label ng-repeat="value in valueArr">
              <p><input type="radio" ng-model="getTag" ng-value="value" name="secondTag" ng-click='getFunc(value)' /> {{value}}</p> 
            </label>
            <p>{{getTag}}</p>
      </div>

      <div class="col-sm-4">
          <h3>Where</h3>
          <label ng-repeat="value in valueArr">
            <p><input type="radio" ng-model="valuePicked" ng-value="value" name="firstTag" ng-click='newValue(value)' /> {{value}}</p> 
          </label>
          <p>{{valuePicked}}</p>
      </div>

      <div class="col-sm-4">
          <h3>equals This: </h3>
          <!-- <input type="text" placeholder="inner value" ng-model="innerValPicked"/> -->
          
          <div id="scrollArea">
        
              <label>Search: <input type="text" ng-model="searchInnerValue"></label>
              <ul>
                <li ng-repeat="val in innerValArr | filter:searchInnerValue track by $index ">
                      <button ng-model="innerValPicked" ng-value="val" ng-click="newInner(val)">{{val}}</button>
                </li>
            </ul>
            <p>Inner Val Picked = {{innerValPicked}}</p>
          </div>
      </div>
    </div>
  </div>

  <script>
    $("#buttongrep").click(function() {
     $('html,body').animate({
         scrollTop: $(".values").offset().top},
         'slow');
   });
 </script>

<div class="container"> 
  <div class="row">
    <div class="col-xs-12"><button id="buttongrep" ng-click="grepFind()">Submit</button></div>
  </div>
</div>



 <h2 class="values">values</h2>
 <!-- most common values -->
 <p>{{getTag}} for {{valuePicked}}: {{innerValPicked}}:</p>
 <ul>
  <li ng-repeat="val in finalGrepArr track by $index">
          {{val}}
  </li>
</ul>

</body>
</html>