<h1>City</h1>
<p>{{msg}}</p>


  <div class="container">
        <table class="table table-bordered table-striped table-hover" >
            <tbody >
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Count
                    </th>
                </tr>
                <tr ng-repeat="x in citynew | orderBy: '-count'">
                      <td >
                          {{x.name}}
                      </td>
                  <td >
                      {{x.count}}
                  </td>
            </tr>
            </tbody>
        </table>
  </div>