

<h1>EXAMPLE OF THE FIRST FEW LINES OF THE XML</h1>
<!-- <p>{{example}}</p> -->
<!-- <p>{{example.length}}</p> -->

  <!-- <div class="container">
        <table class="table table-bordered table-striped table-hover" >
            <tbody >
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Count
                    </th>
                </tr>
                <tr ng-repeat="x in citynew | orderBy: '-count'">
                      <td >
                          {{x.name}}
                      </td>
                  <td >
                      {{x.count}}
                  </td>
            </tr>
            </tbody>
        </table>
  </div> -->


<!-- <ul >
    <li ng-repeat="x in example track by $index">
        {{x}}
    </li>
</ul> -->
{{example}}